@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.containerss {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

input {
	background: none;
	padding: 5px;
	margin-right: 20px;
	font-size: large;
	border-color: white;
	border-width: 2px;
	border: none;
	border-bottom-style: solid;
	color: white;
  }
  input:focus {
	/* background: white; */
	border-bottom-style: dashed;
	outline: none;
  }
  input:hover {
	border-bottom-style: dashed;
  }

  button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;


	font: inherit;
	cursor: pointer;
	outline: inherit;
	border-color: white;
	border-style: dashed;
	padding: 4px;
}
button:hover {
	border: 2px solid white;
}


#demo {
	color: red;
	text-align: center;
	font-size: medium;
}

body {
	background-color: rgb(24, 24, 24);
	color: white;
}
* {
	font-family: 'JetBrains Mono', monospace;
}

#bottomtext {
	text-align: center;
	font-size: x-small;
	color: rgb(78, 78, 78);
	
}

.container {
	padding: 20px;
	margin-left: 15%;
	margin-right: 15%;
	max-width: 70%;


}

h1 {
	font-size: xx-large;
	color: rgb(78, 78, 78);
	text-align: center;
}

#signoff {
	text-align: right;
	padding-right: 10%;
	color: rgb(138, 138, 138);
}

#bottom {
	text-align: center;
	font-size: 50px;
	color: rgb(78, 78, 78);
}
.try span:nth-of-type(even){
    color:green;
}
.try span:nth-of-type(odd){
    color:red;
}

::-moz-selection { /* Code for Firefox */
	color: red;
	background: green;
  }
  
  ::selection {
	color: red;
	background: green;
  }

  a, a:visited {
	  text-decoration: none;
	  color: inherit;
	  text-decoration: underline;
  }
  a:hover {
	  text-decoration: none;

  }
